@import "tailwindcss";
@plugin "daisyui";

:root {
      --color-desert-sand: #f4e5d8;
      --color-nile-blue: #003366;
      --color-gold: #ed7b2a;
      --color-warm-white: #faf8f5;
      --color-soft-gray: #e6e6e6;
      --color-text-dark: #181411;
      --color-text-light: #897261;
    }
    body {
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
.parallax {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.font-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}